<div class="doclet">
  <pre class="doclet-header"><%= ( obj.static ? obj.memberof + '.' : '' ) + obj.name + obj.signature %></pre>

  <% print( this.partial( 'details.tmpl', obj ) );

  if ( obj.description ) {
    print( obj.description );
  }

  if ( obj.params && obj.params.length ) { %>
    <h6 class="doclet-subheader">Parameters</h6>
    <%= this.partial( 'params.tmpl', obj.params ) %>
  <% }

  if ( obj.returns && obj.returns.length ) { %>
    <h6 class="doclet-subheader">Returns</h6>

    <% for ( let el of obj.returns ) {
      print( this.partial( 'returns.tmpl', el ) );
    }
  }

  if ( obj.examples && obj.examples.length ) {
    if ( obj.examples.length > 1 ) {
      print( '<h6 class="doclet-subheader">Examples</h6>' );
    } else {
      print( '<h6 class="doclet-subheader">Example</h6>' );
    }

    print( this.partial( 'examples.tmpl', obj.examples ) );
  } %>
</div>
<hr />