<p><% if ( obj.type && obj.type.names ) {
  print( '<code class="doclet-type">(' + this.partial( 'type.tmpl', obj.type.names ) + ')</code>' );

  if ( obj.description ) {
    print( ' - ' );
  }
}

if ( obj.description ) {
  print( obj.description.replace( /^<[\w\-]+>|<\/[\w\-]+>$/g, '' ) );
} %></p>